* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  background-color: #f2f2f200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
}

.right {
  width: 50%;
  background-color: #114fa3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

input {
  width: 250px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
}

button:hover {
  background-color: #333;
}

#estado {
  color: white;
}

.right button:hover {
  background-color: #333;
}

.right button:active {
  transform: scale(0.95);
  background-color: #000;
}




